---
layout: default
title: "Research"
description: "Research projects in the lab"
group: navigation
navorder: 1
---
{% include JB/setup %}
<!--<div class="bigspacer"></div>
<div class="bigtitle text-center">Research Overview</div>
<div class="bigspacer"></div>-->
{% for project in site.categories.projects %}
{% if project.title %}
<div class="bigspacer"></div>
<!--<div class="head text-center">{{ project.title }}</div>-->
<div class="bigspacer"></div>
{% endif %}
<div class='row'>
  <!--
  <div class='row'>
    <div class='col-md-12'>
    <div class="media">
      <a class="project-image" href="{{ project.url }}">
        <img class="media-object" src="{{ project.image }}">
      </a>
    </div>
  </div>
  -->
  <div class='row'>
    <div class="col-md-4 paperbox">
      <div class="media">
        <img width=370 class="media-object" src="{{ project.image }}"/>
      </div>
    </div>

    <div class='col-md-8'>
      <div class="head">{{ project.title }}</div>
      <div class="bigspacer"></div>
      {{ project.content }}
    </div>
  </div>
<div class="bigspacer"></div>
<hr/>
</div>
{% endfor %}

<div class="bigspacer"></div>
